/* Reset básico */
body, h1, h2, h3, p, ul, li, header {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
}

#content h2 {
    font-size: 1.5rem;
    margin-bottom: 20px !important;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif !important;
    background-color: #121212 !important;
    color: #e0e0e0 !important;
    line-height: 1.6 !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    padding: 20px !important;
}

/* Estilo del header */
header {
    background-color: #1e1e1e !important;
    color: #e0e0e0 !important;
    padding: 9px 15px !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    width: 100% !important;
    max-width: 1200px !important;
    border-radius: 8px !important;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1) !important;
}

#header-content {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    width: 100% !important;

}


#menu div img {
    filter: invert(1) !important;
}

#logo img {
    height: 40px !important;
}

#menu {
    display: flex !important;
    align-items: center !important;
    gap: 20px !important;
    margin-left: auto !important;
}

#menu div {
    cursor: pointer !important;
    height: auto !important; /* Valor por defecto */
}

#menu img {
    width: 25px !important;
    height: 25px !important;
}

#user-info {
    display: flex !important;
    align-items: center !important;
    position: relative !important;
    gap: 10px !important;
    margin-left: 20px !important;
}

#user-info img {
    border-radius: 50% !important;
    width: 40px !important;
    height: 40px !important;
}

#user-name {
    display: block !important; /* Visible por defecto */
}

/* Estilo del contenedor principal */
#content {
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    background-color: #1e1e1e;
    color: #e0e0e0;
}

/* Estilos para pantallas pequeñas (modo vertical o móviles) */
@media (max-width: 768px) {
    #user-name {
        display: none !important; /* Oculta el nombre del usuario */
    }

    header {
        padding: 3px 10px !important; /* Cambia el padding del header */
    }

    #menu {
        gap: 7px !important;
    }

    #user-info {
        gap: 5px !important;
        margin-left: 7px !important;
    }

    body {
        padding: 10px !important;
    }
}



