<div class="app settings-view" id="settings-view">
    <h2>Settings</h2>
    <div class="container z-depth-3" id="settings-container">

        <h3>Jira Token</h3>
        <div class="token-input-container">
            <input type="password" id="jira-token-input" placeholder="Insert your Jira token to start">
            <button type="button" id="toggle-jira-token-visibility" class="toggle-visibility"> 👁️ </button>
        </div>
        <button type="submit" id="save-jira-token-btn">Save</button>
        <button type="button" id="delete-jira-token-btn">Delete</button>
        <span id="jira-token-status" class="token-status"></span>
        <a href="https://id.atlassian.com/manage-profile/security/api-tokens" target="_blank">Get your Jira token here</a>
    </div>

    <div class="container z-depth-3">

        <h3>User Data</h3>
        <!-- Logout and Clear Data Buttons -->
        <div class="action-buttons">
            <button type="button" id="logout-btn">Log Out</button>
            <button type="button" id="clear-data-btn">Clear Local Data</button>
        </div>
    </div>

</div>