:root {
  color-scheme: light dark;
}

body {
  color: light-dark(#000000, #FAF0E6) !important;
  background-color: light-dark(#ffffff, #222020) !important;
}

.column {
  background-color: light-dark(#ffffff, #0e0e0e) !important
}

select {
  color: light-dark(#000000, #FAF0E6) !important;
  background-color: light-dark(#0000000a, #191919) !important;
  border: light-dark(#000000, #FAF0E6) !important;

}

th {
  color: light-dark(#000000, #FAF0E6) !important;
  background-color: light-dark(#ffffff, #191919) !important;
}

#token-bar {
  color: light-dark(#000000, #FAF0E6) !important;
  background-color: light-dark(rgb(240, 128, 128), #DA0037) !important;
}

.z-depth-2 {
  background-color: light-dark(#ffffff, #232222) !important;
}

#date-input {
  border: light-dark(#000000, #FAF0E6) !important;
  background-color: light-dark(#0000000a, #191919) !important;

}

#searchIssue {
  background-color: light-dark(#0000000a, #191919) !important;

}

tr:hover {
  background-color: rgba(0, 0, 0, -0.1);
}

@media (prefers-color-scheme: dark) {
  .color-filter {
    filter: brightness(4.5) !important;
  }
}