<link rel="stylesheet" href="/views/worklogManager/worklogManager.css">

<div class="app worklog-manager">
    <div id="worklog-manager">
        <div class="column z-depth-3" id="column1">
            <div id="filter-issues" class="filter z-depth-2">
                <div class="filterRow">
                    <label for="squadId">Squad:</label>
                    <select id="squadId" class="browser-default"></select>
                </div>
                <div class="filterRow">
                    <label for="project">Project:</label>
                    <select id="project" class="browser-default"></select>
                </div>
                <div class="filterRow">
                    <label for="assignee">Assignee:</label>
                    <select id="assignee" class="browser-default"></select>
                </div>
                <div class="filterRow">
                    <label for="searchIssue">Summary search:</label>
                    <input type="text" id="searchIssue" placeholder="Start writing to filter" />
                </div>
            </div>
            <div class="issues z-depth-2">
                <table id="issuesTable">
                    <thead>
                        <tr>
                            <th>Summary</th>
                            <th class="center-text">Spent</th>
                            <th>Link</th>
                            <th class="center-text">Status</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="column z-depth-3" id="column2">
            <div id="filter-events" class="filter z-depth-2">
                <div class="calendar-filter-block">
                    <label for="calendar-select">Calendar:</label>
                    <select id="calendar-select" class="browser-default"></select>
                </div>
                
                <div class="calendar-filter-block">
                    <label for="date-input">Date:</label>
                    <input type="date" id="date-input" class="browser-default" />
                </div>
                
                <div>
                    <button id="updateEvents-btn">Update</button>
                </div>
            </div>
            <div class="events z-depth-2">
                <table id="eventsTable">
                    <thead>
                        <tr>
                            <th>Start Time</th>
                            <th>Title</th>
                            <th>Duration</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="bottom-container z-depth-2">
                <input type="text" class="toComment" id="selectedEventComment" placeholder="Comment" />
            </div>
            <div class="button-container">
                <button id="syncButton">Sync</button>
            </div>
        </div>
    </div>
</div>
