/* Worklog Manager Specific Styles */
#worklog-manager {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: row;
}

tr.selected {
    background-color: #722424; /* Cambia este color según tu preferencia */
    color: #fff; /* Texto blanco para mayor contraste */
}
tr.selected:hover {
    background-color: #420b0b; /* Mismo color que la selección */
    color: #fff; /* Color de texto que contraste */
}


td {
    font-size: 0.9rem;
}

label {
    font-size: 0.8rem;
    flex: 0.3;
}

select, input {
    padding: 0.3rem;
    background-color: #444;
    border: none;
    color: #e0e0e0;
    flex: 1;
}

.buttonRow {
    display: flex;
    justify-content: flex-end;
}

#content {
    margin-top: 20px;
    padding: 0px;
    border-radius: 0px;
    box-shadow: none;
    width: 100%;
    max-width: 1200px;
    box-shadow: none;
    background-color: transparent !important;
}

.container {
    background-color: #1e1e1e;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.3);
}

.subContainer {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 2px 3px 20px 4px rgba(0, 0, 0, 0.3)
}

.container-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.issues,
.events {
    flex: 1;
    overflow-y: auto;
    border-radius: 8px;
}

#issuesTable,
#eventsTable {
    width: 100%;
    border-collapse: collapse;
}

#eventsTable {
    border-radius: 8px;
}

#issuesTable th,
#eventsTable th,
#issuesTable td,
#eventsTable td {
    padding: 0.3rem;
    border-bottom: 1px solid #333;
}

th {
    background-color: #333;
    color: #e0e0e0;
    text-align: left;
}

td {
    color: #b3b3b3;
}

tr:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

tr {
    height: 25px;
}

.center-text {
    text-align: center;
}

.filterRow,
.calendar-filter-block {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

button {
    padding: 0.3rem 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.button-container {
    margin-top: 22px;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    background-color: #444;
    cursor: not-allowed;
}

#selectedEventComment {
    width: calc(100% - 14px);
}

@media (max-width: 768px) {
    td {
        font-size: 0.9rem;
    }

    #worklog-manager {
        display: flex;
        column-gap: 10px;
        row-gap: 15px;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .container-group {
        column-gap: 10px;
        row-gap: 15px;
    }
}

@media (max-width: 450px) {
    td {
        font-size: 0.8rem;
    }
    th {
        font-size: 0.9rem;
    }
}



/* menu contextual
/* Estilo básico del menú contextual */
.context-menu {
    position: absolute;
    background-color: #2c2c2c;
    border: 1px solid #555;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    padding: 5px 0;
    width: 200px;
}

/* Estilo para los elementos del menú */
.context-menu-item {
    padding: 10px 15px;
    cursor: pointer;
    color: #ddd;
    font-size: 14px;
}

/* Efecto hover para los elementos del menú */
.context-menu-item:hover {
    background-color: #007bff;
    color: #fff;
}

/* Estilo para separar los elementos */
.context-menu-item + .context-menu-item {
    border-top: 1px solid #444;
}




/* Estilo para Ordenamiento tabla */
th.sortable {
    cursor: pointer;
}

th.sort-asc::after {

    /* content: ' ▲'; /* You can customize this arrow */
}

th.sort-desc::after {
    /* content: ' ▼'; /* You can customize this arrow */
}